SECRET_KEY=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yCAgCEAAYFhgeMggIAxAAGBYY
POSTGRES_DB=yt_downloader
POSTGRES_USER=
POSTGRES_PASSWORD=

ALLOWED_HOSTS=yt-downloader.csambila.com
DEBUG=True
USE_POSTGRES=True

# Behind Traefik/nginx HTTPS (fixes CSRF 403 on /admin)
USE_TLS_PROXY=True
CSRF_TRUSTED_ORIGINS=https://yt-downloader.csambila.com