SECRET_KEY=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yCAgCEAAYFhgeMggIAxAAGBYY
POSTGRES_DB=yt_downloader
POSTGRES_USER=
POSTGRES_PASSWORD=

ALLOWED_HOSTS=yt-downloader.csambila.com
DEBUG=False
USE_POSTGRES=True